* {
    box-sizing: border-box;
    text-align: center;
}

body {

    background: radial-gradient(circle, rgb(161, 211, 80), #d5f4e6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {
    font-family: cursive;
    color: red;

}

.container-fluid {
    margin: 25px;
    margin-left: 25px;
}

button {
    display: inline-block;
    font-size: 30px;
    margin: 5px;
    color: blueviolet;
}

#addtext {
    font-size: 30px;
    color: green;
}

.newItem {
    display: block;
    float: left;
    margin: 20px;
}

.row {
    margin-right: 35px;
}